# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build output
dist/

# Logs
*.log

# turbo
.turbo/

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store

# Claude
CLAUDE.md
.claude/