DATABASE_URL=""
PORT="8080"
HOST="0.0.0.0"

# JWT
# Development:
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN="10m"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_ISS=""

# Resend
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""

# Swagger
SWAGGER_USER=""
SWAGGER_PASSWORD=""